<!DOCTYPE html>
<html>

    <head>
        <link href="style.css" rel="stylesheet" />
        <title>GSK UseCase </title>
    </head>
    <body>

        <div class="grid-container">

            <header class="row">

                <div>
                    <a href="index.html" class="brand">GSK</a>

                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>

                </div>

            </header>



            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px * 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="prod" />
                        </a>

                        <!-- card body -->
                        <div card="card-body">
                            <a href="product.html">
                                <h1>Sensodyne Toothpaste</h1>
                            </a>

                        </div>

                        <div class="price">
                            <h2>$120</h2>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px * 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="prod" />
                        </a>

                        <!-- card body -->
                        <div card="card-body">
                            <a href="product.html">
                                <h1>Sensodyne Toothpaste</h1>
                            </a>

                        </div>

                        <div class="price">
                            <h2>$120</h2>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px * 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="prod" />
                        </a>

                        <!-- card body -->
                        <div card="card-body">
                            <a href="product.html">
                                <h1>Sensodyne Toothpaste</h1>
                            </a>

                        </div>

                        <div class="price">
                            <h2>$120</h2>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px * 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="prod" />
                        </a>

                        <!-- card body -->
                        <div card="card-body">
                            <a href="product.html">
                                <h1>Sensodyne Toothpaste</h1>
                            </a>

                        </div>

                        <div class="price">
                            <h2>$120</h2>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px * 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="prod" />
                        </a>

                        <!-- card body -->
                        <div card="card-body">
                            <a href="product.html">
                                <h1>Sensodyne Toothpaste</h1>
                            </a>

                        </div>

                        <div class="price">
                            <h2>$120</h2>
                        </div>
                    </div>


                </div>
            </main>


            <footer class="row center">All rights reserved</footer>


        </div>
    </body>
</html>